---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/movie?api_key=<TMDB_API_KEY>&language=pl&primary_release_year=1900&query=bidulek-kotelek-wspanialy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Gateway-Cache-Status:
      - MISS
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 1f522d95e2f49a2ead94016fef97e3fc
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '24957'
      X-Az:
      - us-east-1c
      X-Task-Id:
      - 1fbac4e3461245c8997ef10b73b42514
      Etag:
      - W/"0e23279b004381f72a34159d5c7dfd1f"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
  recorded_at: Sun, 05 Jul 2026 20:50:23 GMT
recorded_with: VCR 6.4.0
